<%= render 'layouts/mainmenu' %>

<div class="containerfollowers">
  <h1 >People who follow you</h1>

  <span class="users">
    <% @followers.each do |follower| %>

        <div class = "note-list">
          <table>
            <tr><td><img src=<%= follower.img_url %> alt="Smileyface"></td></tr>
            <tr><td id="name"><%= link_to follower.name, follower, class: 'index_name_user' %></td></tr>
            <tr><td id="bio"><%= follower.bio %></td></tr>
          </table>



        </div>
    <% end %>

  </span>

  <br>
</div>