// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Pacifico);

ul, li{
  list-style: none;
  display: inline;
  text-align: center;
  font-family: 'Pacifico', cursive;
  width: 30px;
/*  height: 15px;*/
}



table,tbody,td, tr{
  text-align: center;
  width: 100%;
}

img {
  height: 8em;
  width: 8em;
  border-radius: 10px ;
}

div {
  text-align: center;
  float: left;
  padding-bottom: 2%;
}

td {
  margin: 10%;
  text-align: center;
}

#name{
  font-weight: bold;
  font-size: large;
  text-align: center;
}

#bio {
  text-align: center;
}

.show{
  margin-left: 65px;
  width: 100%;


}
.tweet{
  width: 100%;
  background: #FFFFFF;
  margin: 10px;
  border-radius: 10px;

  img{
    float: left;
    margin-left: 10px;
    margin-top: 10px;


  }
}

.tweets{
  width: 50%;
  margin: auto;




}



#tweet-author{
  float: left;
}

.note-list{
  width: 25%;
}



#date-tweet{
  float: right;
}


.img-user-tweet{
  height: 3em;
  width: 3em;
  border-radius: 5px ;
}


