
<nav class="main-menu">
  <ul>
    <li class="has-subnav">
      <a href=<%= user_url(@user) %>>
      <i class="fa fa-home fa-2x"></i>
      <span class="nav-text">
                            Home profile
                        </span></a></li>
    <li class="has-subnav"><a href=<%= edit_user_url(@user)%>>
      <i class="fa fa-pencil fa-2x"></i>
      <span class="nav-text">
                            Edit profile
                        </span></a></li>


    <li class="has-subnav">
      <a href=<%= user_followings_url(@user) %>>
        <i class="fa fa-arrow-circle-right fa-2x"></i>
        <span class="nav-text">
                            Following
                        </span>
      </a></li>

    <li class="has-subnav">
      <a href=<%= user_followers_url(@user)%>>
        <i class="fa fa-arrow-circle-left fa-2x"></i>
        <span class="nav-text">
                            Followers
                        </span></a></li>

  </ul>

  <ul class="logout">
    <li>
      <a href="/">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
                            Logout
                        </span>
      </a>
    </li>
  </ul>
</nav>
